<h1><a href="/"> Parrot Pandemonium </a></h1>

<h2>Q & A</h2><% if session[:user_id] == @message.user_id %>
  Welcome, <%= session[:username] %><br>
  Edit Question:

  <%= render "form", message: @message %>

<% else %>

  Only the author of the question, when logged in, can edit the question.<br>
  <a href = "/sessions/new"> Login </a><br>
<% end %>
