<h1> Parrot Pandemonium </h1>
<% if flash[:notice] %>
  <%=flash[:notice] %><br>
<% end %>
<% if !!session[:username] %>
  Welcome, <%= session[:username] %><br>
  <a href = "/sessions/destroy"> Logout </a>
<% else %>
  <a href = "/users/new"> Create User </a><br>
  <a href = "/sessions/new"> Login </a><br>
<% end %>

<h2>A list of Articles</h2>
<ul>
  <li>Commonly kept parrots</li>
  <li>Basic Set Up</li>
</ul>

<h2><a href = "/messages/index"> Q & A </a></h2>
